body
{
    font-family: 'Montserrat', sans-serif;
}

.onne-logo-position
{
position: relative;
right: 35px;
}
.email-btn
{
    background: white;
    border: 1px solid #51084d;
    width: 100%;
    height: 40px;
}
.freetrial-btn
{
    color: white;
    background: #51084d;
    border: none;
    width: 100%;
    height: 41px;
}
.freetrial-btn:hover
{
color: white;
}
.grey-color
{
    color: #505050;
}
#field-span
{
    color: #51084d;
}
.testimonial-img
{
    width: 275px;   
    height: 200px;
}
.bold
{
    font-weight: bold;
}
.intro-of-fields
{
    letter-spacing: 1px;
}